# Ignore data directories
hypertension/all_spectrograms/
hypertension/augmented_labeled_files_fixed/
hypertension/hypertensive_labeled_output/
hypertension/hypertensive_labeled_output_fixed/
hypertension/ppg_separability_analysis/
hypertension/ppg_spectrogram_output/
hyperglycemia/DirecNetCounter-RegulatoryStudy
hyperglycemia/augmented_glucose_data.csv